*{
    background-color: black;
    color: white;
}
/* div{
    height: 400px;
    width: 400px;
    background-color: royalblue;
    border: 2px solid black;
} */
.content{
    color: red;
}
.newcontent{
    background-color: royalblue;
}